/* News & Updates  */
body {
  background-color: white;
}

main-header {
  color: black;
  font-size: medium;
}

h1 {
  color: #b32121;
  font-size: large;
}

.hero-section {
    background-color: gray;
}

</header>