/* Gallery */
.gallery-section {
  padding: 9.6rem 12.8rem;
  margin: 0 auto;
}

.gallery-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.gallery-div {
  overflow: hidden;
  /* width: 100%; */
}

.gallery-img {
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

.gallery-container-extra {
  /* margin-top: 2%; */
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
