/* Gallery */
.gallery-section {
  padding: 9.6rem 12.8rem;
}

.gallery-container {
  width: 100rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
}

.holder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.img-box {
  background-color: #be7474;
  width: 30rem;
}

.div--1 {
  height: 50rem;
}

.div--2 {
  height: 30rem;
}
