/* Rosters */

/* .roster-section {
  background-color: #110101;
} */

.roster-text {
  font-size: 4.8rem;
  text-align: center;
  color: #110101;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 3.2rem;
}

.container-roster {
  max-width: 160rem;
  /* height: 120rem; */
  padding: 4.8rem 9.6rem;
  margin: 0 auto;
}
.roster-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
}

.roster-div:link,
.roster-div:visited {
  background-color: #aa0808;
  /* border: solid 0.3rem black; */
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 45rem;
  height: 25rem;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  transition: all 0.4s;
}

.roster-div:hover,
.roster-div:active {
  background-color: #c72424;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.211);
  border-radius: 16px;
}

.roster-div a:link,
a:visited {
  overflow: hidden;
  display: block;
  border-radius: 16px;
}

.roster-img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
  height: 30rem;
}

.roster-img:hover {
  transform: scale(1.1);
}

.roster-sport {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.rd-7 {
  grid-column: 1/2;
}

.rd-8 {
  grid-column: 3/4;
}

.coach-text {
  padding: 0.8rem 1.6rem;
  background-color: #f7f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.114);
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  color: #aa0808;
  font-weight: 600;
}

.players-list,
.grade-list {
  list-style: none;
}

.players-div {
  padding: 1.6rem 3.2rem;
  background-color: #f7f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.114);
  grid-column: 1/5;
  /* margin-left: 15rem; */
}
.player-text,
.grade-text {
  font-size: 2.4rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.2rem;
}

.heading-players,
.heading-grades {
  font-size: 2.2rem;
  color: #aa0808;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

.grade-div {
  padding: 1.6rem 3.2rem;
  background-color: #f7f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.114);
  height: auto;
  width: auto;
}

.roster-container {
  max-width: 100rem;
  padding: 4.8rem 9.6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  /* color: #110101; */
}
